<?php

use Psr\EventDispatcher\EventDispatcherInterface;

return [
    'pami' => [
        'connection' => [
            'default' => [
                'host' => '',
                'scheme' => 'tcp://',
                'port' => 5038,
                'username' => 'admin',
                'secret' => '',
                'connect_timeout' => 30,
                'read_timeout' => 3000,
            ],
        ],
        'client' => [
            'connection' => \PAMI\Client\IClient::class,
            'event_dispatcher' => EventDispatcherInterface::class,
        ]
    ],
];
